// Colors --------------

$accent: #d64f00;

$success: #629924;
$failure: #cc3333;
$info: #3692e7;

$white: #ffffff;

$lightest-gray: #cccccc;
$lighter-gray: #bababa;
$light-gray: #999999;
$gray: #646464;
$dark-gray: #444444;
$darker-gray: #3b3b3b;
$darkest-gray: #282828;

$black: #161512;

// transparent colors

$transparent-accent: #d64f004d;
$transparent-gray: #262421cc;

// Sizes --------------

// text
$xx-large: 3rem;
$x-large: 2rem;
$large: 1.5rem;
$medium: 1rem;
$small: 0.75rem;
$x-small: 0.5rem;