// Colors --------------

// text
$text-color: #ffffff;

$link-text-color: #3692e7;
$button-text-color: #cccccc;

// backgrounds
$bg-color: #161512;
$bg-dark: #282828;
$bg-light: #3b3b3b;
$bg-lighter: #646464;

$button-bg-color: #646464;

$transparent-mask-bg-color: rgb(38, 36, 33, 0.8);

// Sizes --------------

// text
$text-size: 16px;